* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font-family: "Ariel", sans-serif;
	box-sizing: border-box;
	color: #ffffff;
	background-color: inherit;
}

body {
	font-size: 18px;
	background-color: transparent;
}

h1 {
	margin-top: 35px;
	text-align: center;
	font-style: bold;
	text-shadow: 4px 4px #000000;
}

h2 {
	font-size: 30px;
	text-shadow: 2px 2px #000000;
}

h3 {
	font-size: 25px;
	text-shadow: 2px 2px #000000;
	padding-bottom: 10px;
}

p,
ol {
	text-shadow: 1px 1px #000000;
}

ol {
	list-style-position: inside;
}

p {
	margin: 15px 0px;
	text-align: justify;
}

a {
	text-decoration: none;
	text-shadow: 1px 1px #000000;
}

a:hover {
	color: #ffff17;
}
	
li {
	text-shadow: 1px 1px #000000;
	padding: 5px;
	}

img {
	max-width: 100%;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.article {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	background-color: transparent;
}

.content {
	grid-column: 2;
/*	width: 800px;
	min-width: 0px;
	flex-direction: column; */
	margin: auto auto 50px auto;
	background-color: transparent;
}

.side-panel {
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 10rem;
	margin: 25px;
	grid-column: 3;
}

.header {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}

.topnav {
	background-color: transparent;
	font-size: 22px;
	font-family: "Garamond", serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vw;
	margin-bottom: 5vh;
}

.topnav a {
	font-size: 22px;
	font-variant: small-caps;
	font-family: "Garamond", serif;
	text-align: center;
	text-decoration: none;
}

.topnav a:hover {
	color: #ffff17;
}

.credit,
.footer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	flex-basis: 100px;
	font-size: 16px;
	text-decoration: none;
}

.footer {
	justify-content: flex-end;
}

.footer img {
	max-height: 3em;
	width: auto;
	border: none;
}

.bg-image {
	background-image: url("static/images/cathedral.png");
	background-color: #11183c;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.button {
	float: none;
	font-size: 18px;
	font-variant: small-caps;
	font-family: Garamond, serif;
	border: 2px solid #ffff17;
	border-radius: 5px;
	outline: none;
	padding: 8px; 
	background-color: #11183c; 
}

.button:hover {
	background-color: #263688;
}
	
@media (max-width: 800px) {
	.article {
		grid-template-columns: 1fr;
	}
	.side-panel {
		grid-column: 1;
		align-items: center;
		justify-content: center;
	}
	.content {
		grid-column: 1;
		padding: 5vw;
	}
}