:root {
  --bg-base: hsl(224 90% 7%);
  --bg-mantle: hsl(224 90% 12%);
  --bg-crust: hsl(224 90% 22%);
  --shadow: hsl(240 9% 5%);
  --titles: hsl(0 0% 98%);
  --text: hsl(0 0% 92%);
  --text-muted: hsl(0 0% 87%);
  --primary: hsl(228 66% 80%);
  --secondary: hsl(190 95% 90%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

/* 
EB Garamond: 400-800
Fira Code: 300-700
*/

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Code", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-base);
  font-size: 22px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
  display: flex;
  flex-direction: column;
}

h1, h2 {
  color: var(--titles);
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-top: 1em;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

b {
  font-weight: 700;
}

ol {
	list-style-position: inside;
}

li {
  margin-top: 1em;
}

a {
  color: var(--primary);
	text-decoration: none;
}

p + p {
  margin-top: 1em;
}

a:hover {
	color: var(--secondary);
}
	
#article {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
  gap: 2em;
  min-height: 90vh;
  margin: 3em 0;
}

#rules,
#about {
	grid-column: 2;
  padding: 0 0.5em;
}

#side-panel {
	grid-column: 3;
  grid-row: 1;
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 150px;
}

header {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: space-between;
  min-height: 150px;
  .icon {
    height: 48px;
    width: auto;
  }
}

footer {
	display: flex;
  flex-basis: 148px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 16px;
	border-top: 2px solid var(--bg-crust);
  background-color: var(--bg-mantle);
  box-shadow: 0px -8px 8px var(--shadow);
}

button {
	font-size: 18px;
	font-family: "Fira Code", serif;
	border: 2px solid var(--primary);
	border-radius: 12px;
	padding: 8px 16px; 
	background-color: var(--bg-mantle); 
  box-shadow: 8px 8px 8px var(--shadow);
  margin-top: 1em;
}

button:hover {
  background-color: var(--bg-crust);
  color: var(--titles);
}

.icon {
  height: 32px;
  width: auto;
}

@media (max-width: 800px) {
	#article {
		grid-template-columns: 1fr;
	}
	#side-panel {
    display: none;
	}
  #rules,
	#about {
		grid-column: 1;
	}
}
